html, body{
  font-family:monospace;
  background-color: #EEE;
  margin: 0;
  padding: 0;
}
input[type=button]{
  margin: 2px;
  padding: 10px;
  width: 50px;
  height: 50px;
  background-color: #CCC;
  color: #EEE;
  font-weight: lighter;
  border-radius: 50%;
  font-size: 16px;
}
input[type="text"]{
  width: 230px;
  margin: 10px 3px 15px 3px;
  padding: 5px 5px 45px 5px;
  box-sizing: border-box;
  background-color: #444;
  color: #EEE;

}

form#Calculator {
  background-color: #0e0c03;
  background-image: linear-gradient(90deg, #0e0c03 0%, #F76B1C 100%);

  text-align: center;
  width: 270px;
  margin: 35px auto;
  padding: 35px 5px;
  border: 1px solid #CCC;
  border-radius: 15px;
}
#Ans{
  font-size: 15px;
  text-align: left;
  padding: 5px;
}
h1{
  text-align: center;
  color: #111;
}
#Calculator .orange{
  color: #FFF;
  background-color: orange;
}
#Calculator .silver{
  background-color: #555;
}
.fantome1{
  font-size: 6em;
  transition: .5s;
  margin: 0 auto;
}
.fantome1:hover{
  transform: rotate(359deg) scale(20);
  opacity: 0;
}
#lien{
  font-family: sans-serif;
  text-align: center;
  margin: 10px auto;
  position: absolute;
  left: 50%;
  bottom:5%;
  transform: translateX(-50%);
}
